# Job Solutions

## Imports

In [10]:
import openpyxl
import pandas as pd
import numpy as np

## Reading Data

In [11]:
def read_excel(filename):
    workbook = openpyxl.load_workbook(filename)

    worksheet = workbook['Sheet1']

    data = worksheet.values

    dataframe = pd.DataFrame(data)

    # Assigning First Row As Header
    header = dataframe.iloc[0]
    dataframe = dataframe[1:]
    dataframe.columns = header

    return dataframe

In [12]:
job_roles_dataframe = read_excel("./Data/Job Roles.xlsx")
job_skills_dataframe = read_excel("./Data/Job Skills.xlsx")
job_risks_dataframe = read_excel("./Data/Job Risks.xlsx")

In [13]:
job_roles_dataframe

,Job Role,Qualification,Required Programming Languages,Required Skill,Expected Starting Pay
1,Software Developer,Bachelor's,"Python,C#,JQuery",Strong Communication Skills\nInterpersonal Ski...,4.5 Lakhs per year
2,AI Research Scientist,Master's,"Python,Java,C++,JavaScript,Julia,LISP","Logical thinking with mathematical, analytical...",3.5 Lakhs per year
3,Data Scientists,Bachelor's or master's,"Python,R,SQL,Java,C/C++,Scala,GO,JavaScript,Sw...",Analytical professionals with strengths in mat...,3.5 Lakhs per year
4,Machine Learning Engineer,Master's,"Python,JavaScript",Logical and analytical professionals with stro...,6.4 Lakhs per year
5,Computer Network Architect,Bachelor's and 2 years of experience,"Python,Perl,Json",Detail-oriented professionals with a broad kno...,11 Lakhs per year
6,Mobile Application Designer,Associate or Bachelor's,"Python,C#,C++,PHP,Java,Scala,Java Script",Creative IT specialists with problem-solving a...,3.2 Lakhs per year
7,Computer systems analyst,Bachelor's,Structured Query Language (SQL).,People with analytical skills\nLeaders with st...,7.6 Lakhs per year
8,Computer programmer,Bachelor's,"Python,JavaScript,SQL,Java,C/C++,Scala,PHP,Kot...",Professionals with computer and troubleshootin...,3.5 Lakhs per year
9,Network and computer systems administrator,Bachelor's,"HTML ,Java Script,Go,Python,Node",Multitaskers with analytical mindsets\nProblem...,3.3 Lakhs per year
10,Web developer,Bachelor's,"\nHTML ,Java Script,PHP,JAVA,CSS",Creative-minded professionals with coding and ...,4.2 Lakhs per year

In [14]:
job_skills_dataframe

,Required Skills,Skill Acquisition
1,Strong Communication Skill,"Be clear and concise, Prepare ahead of time, B..."
2,Interpersonal Skills,"Cultivate a positive outlook, Control your emo..."
3,Presentation Skills,"Know your subject and audience well, Take your..."
4,Creativity Skills,"Keep learning, Do what you love, Take a break,..."
5,Analytical Problem Solving,"Read more, Observe more, Learn something new, ..."
6,Detail Oriented Skills,"Make sure you understand instructions clearly,..."
7,Logical thinking Skills,"Partake in creative activities, Practice your ..."
8,Innovative skills,"Take risks, Look for new opportunities, Challe..."
9,Leadership Skills,"Practice discipline, Take on more projects, Le..."
10,Mathematical Skills,"Wrap your head around the concepts, Try game-b..."
11,Technical Skills,"Doing it on your own, Find a mentor, On-the-jo..."
12,Ingenuity Skills,"Creating ideas, Transforming ideas into assump..."
13,Multitasking Skills,"Set yourself realistic goals, Give yourself en..."
14,Good Customer service Skills,"Persuasive Speaking Skills, Empathy, Adaptabil..."

In [15]:
job_risks_dataframe

,Company Name,Sector,High Risk jobs,Low Risk jobs
1,Amazon,Software,"Hardware and Services, Human Resources, Retail...","Software Development Engineer (SDE), Data Scie..."
2,Meesho,Ecommerce,"Sales Executive, Non-essential Administrative ...","Customer Support Executive, Business Developme..."
3,Meta,Software,"Contract Workers and Temporary Staff, Sales an...","Software Engineer/Developer, Data Scientist/An..."
4,Wipro,Software,"Non-essential Administrative Roles, Entry-leve...","Technology Consultants, Software Engineers/Dev..."
5,Google,Software,"Non-essential Administrative Roles, Sales and ...","Software Engineers/Developers, Data Scientists..."
6,Cognizant,Software,"Non-essential Administrative Roles, Non-techni...","Technology Consultants, Software Engineers/Dev..."
7,Infosys,Software,"Non-essential Administrative Roles, Non-techni...","Technology Consultants, Software Engineers/Dev..."
8,Byjus,Edtech,"Entry-level or Junior-level Positions, Non-ess...","Subject Matter Experts (SMEs), Curriculum Desi..."
9,Unacademy,Edtech,"Entry-level or Junior-level Positions, Non-ess...","Subject Matter Experts (SMEs), Educators/Instr..."
10,Toothsi,Healthtech,"Entry-level or Junior-level Positions, Non-ess...","Orthodontists, Treatment Coordinators, Dental ..."
11,Pharmeasy,Healthtech,"Non-essential Administrative Roles, Sales and ...","Pharmacists, Medical Professionals, Technology..."
12,Healthifyme,Healthtech,"Non-essential Administrative Roles, Sales and ...","Nutritionists/Dieticians, Fitness Trainers, Te..."
13,Hirect,Enterprise tech,"Non-essential Administrative Roles, Sales and ...","Technology and Development Roles, Product Mana..."
14,Ola,Consumer Services,"Non-essential Administrative Roles, Sales and ...","Ride-Hailing Drivers, Technology Professionals..."
15,Blinkit,Consumer Services,"Non-essential Administrative Roles, Sales and ...","Delivery Executives, Technology Professionals,..."
16,OYO,Consumer Services,"Non-essential Administrative Roles, Sales and ...","Hotel Operations and Management, Technology an..."
17,Livspace,Consumer Services,"Non-essential Administrative Roles, Sales and ...","Interior Designers, Project Managers, Sales an..."
18,Share chat,Media entertainment,"Non-essential Administrative Roles, Sales and ...","Software Engineers and Developers, Content Mod..."
19,Pocket aces,Media entertainment,"Non-essential Administrative Roles, Sales and ...","Content Creators and Writers, Video Editors an..."
20,MPL,Media entertainment,"Non-essential Administrative Roles, Sales and ...","Software Engineers and Developers, Game Design..."

## Data Transformation

#### Converting Job Roles Data Frame Column "Required Programming Languages" to Column of Arrays to hold multiple Programming Languages

In [16]:
job_roles_dataframe.loc[:, 'Required Programming Languages'] = job_roles_dataframe.loc[:, 'Required Programming Languages'].str.split(',').apply(lambda x: [s.strip() for s in x])
job_roles_dataframe

,Job Role,Qualification,Required Programming Languages,Required Skill,Expected Starting Pay
1,Software Developer,Bachelor's,"[Python, C#, JQuery]",Strong Communication Skills\nInterpersonal Ski...,4.5 Lakhs per year
2,AI Research Scientist,Master's,"[Python, Java, C++, JavaScript, Julia, LISP]","Logical thinking with mathematical, analytical...",3.5 Lakhs per year
3,Data Scientists,Bachelor's or master's,"[Python, R, SQL, Java, C/C++, Scala, GO, JavaS...",Analytical professionals with strengths in mat...,3.5 Lakhs per year
4,Machine Learning Engineer,Master's,"[Python, JavaScript]",Logical and analytical professionals with stro...,6.4 Lakhs per year
5,Computer Network Architect,Bachelor's and 2 years of experience,"[Python, Perl, Json]",Detail-oriented professionals with a broad kno...,11 Lakhs per year
6,Mobile Application Designer,Associate or Bachelor's,"[Python, C#, C++, PHP, Java, Scala, Java Script]",Creative IT specialists with problem-solving a...,3.2 Lakhs per year
7,Computer systems analyst,Bachelor's,[Structured Query Language (SQL).],People with analytical skills\nLeaders with st...,7.6 Lakhs per year
8,Computer programmer,Bachelor's,"[Python, JavaScript, SQL, Java, C/C++, Scala, ...",Professionals with computer and troubleshootin...,3.5 Lakhs per year
9,Network and computer systems administrator,Bachelor's,"[HTML, Java Script, Go, Python, Node]",Multitaskers with analytical mindsets\nProblem...,3.3 Lakhs per year
10,Web developer,Bachelor's,"[HTML, Java Script, PHP, JAVA, CSS]",Creative-minded professionals with coding and ...,4.2 Lakhs per year

#### Converting Job Roles Data Frame Column "Required Skill" to Column of Arrays to hold multiple Skills

In [17]:
job_roles_dataframe.loc[:, 'Required Skill'] = job_roles_dataframe.loc[:, 'Required Skill'].str.split('\n').apply(lambda x: [s.strip() for s in x])
job_roles_dataframe

,Job Role,Qualification,Required Programming Languages,Required Skill,Expected Starting Pay
1,Software Developer,Bachelor's,"[Python, C#, JQuery]","[Strong Communication Skills, Interpersonal Sk...",4.5 Lakhs per year
2,AI Research Scientist,Master's,"[Python, Java, C++, JavaScript, Julia, LISP]","[Logical thinking with mathematical, analytica...",3.5 Lakhs per year
3,Data Scientists,Bachelor's or master's,"[Python, R, SQL, Java, C/C++, Scala, GO, JavaS...",[Analytical professionals with strengths in ma...,3.5 Lakhs per year
4,Machine Learning Engineer,Master's,"[Python, JavaScript]",[Logical and analytical professionals with str...,6.4 Lakhs per year
5,Computer Network Architect,Bachelor's and 2 years of experience,"[Python, Perl, Json]",[Detail-oriented professionals with a broad kn...,11 Lakhs per year
6,Mobile Application Designer,Associate or Bachelor's,"[Python, C#, C++, PHP, Java, Scala, Java Script]",[Creative IT specialists with problem-solving ...,3.2 Lakhs per year
7,Computer systems analyst,Bachelor's,[Structured Query Language (SQL).],"[People with analytical skills, Leaders with s...",7.6 Lakhs per year
8,Computer programmer,Bachelor's,"[Python, JavaScript, SQL, Java, C/C++, Scala, ...",[Professionals with computer and troubleshooti...,3.5 Lakhs per year
9,Network and computer systems administrator,Bachelor's,"[HTML, Java Script, Go, Python, Node]","[Multitaskers with analytical mindsets, Proble...",3.3 Lakhs per year
10,Web developer,Bachelor's,"[HTML, Java Script, PHP, JAVA, CSS]",[Creative-minded professionals with coding and...,4.2 Lakhs per year

## Job Roles

In [18]:
unique_skills = job_roles_dataframe['Required Programming Languages'].explode().unique()

unique_skills_labels = np.array(unique_skills)

unique_skills

array(['Python', 'C#', 'JQuery', 'Java', 'C++', 'JavaScript', 'Julia',
       'LISP', 'R', 'SQL', 'C/C++', 'Scala', 'GO', 'Swift', 'MATLAB',
       'SAS', 'Perl', 'Json', 'PHP', 'Java Script',
       'Structured Query Language (SQL).', 'Kotlin', 'Go', 'HTML', 'Node',
       'JAVA', 'CSS'], dtype=object)

In [28]:
selected_skills = []

while True:
    print("Added Skills :", selected_skills)
    option = int(input("Add a Skill from above table through index value; -1 to suggest the jobs for your skills :"))

    if option == -1:
        break
    elif option >= len(unique_skills_labels):
        print("Invalid Option")

    skill = unique_skills_labels[option]

    if(skill in selected_skills):
        print("Skill already added")
        continue

    selected_skills.append(skill)

print("Final Skills :", selected_skills)

filtered_dataframe = job_roles_dataframe[job_roles_dataframe['Required Programming Languages'].apply(lambda row: any(name in row for name in selected_skills))]
filtered_dataframe

Added Skills : []
Added Skills : ['Python']
Added Skills : ['Python', 'JavaScript']
Added Skills : ['Python', 'JavaScript', 'LISP']
Final Skills : ['Python', 'JavaScript', 'LISP']

,Job Role,Qualification,Required Programming Languages,Required Skill,Expected Starting Pay
1,Software Developer,Bachelor's,"[Python, C#, JQuery]","[Strong Communication Skills, Interpersonal Sk...",4.5 Lakhs per year
2,AI Research Scientist,Master's,"[Python, Java, C++, JavaScript, Julia, LISP]","[Logical thinking with mathematical, analytica...",3.5 Lakhs per year
3,Data Scientists,Bachelor's or master's,"[Python, R, SQL, Java, C/C++, Scala, GO, JavaS...",[Analytical professionals with strengths in ma...,3.5 Lakhs per year
4,Machine Learning Engineer,Master's,"[Python, JavaScript]",[Logical and analytical professionals with str...,6.4 Lakhs per year
5,Computer Network Architect,Bachelor's and 2 years of experience,"[Python, Perl, Json]",[Detail-oriented professionals with a broad kn...,11 Lakhs per year
6,Mobile Application Designer,Associate or Bachelor's,"[Python, C#, C++, PHP, Java, Scala, Java Script]",[Creative IT specialists with problem-solving ...,3.2 Lakhs per year
8,Computer programmer,Bachelor's,"[Python, JavaScript, SQL, Java, C/C++, Scala, ...",[Professionals with computer and troubleshooti...,3.5 Lakhs per year
9,Network and computer systems administrator,Bachelor's,"[HTML, Java Script, Go, Python, Node]","[Multitaskers with analytical mindsets, Proble...",3.3 Lakhs per year

## Jobs Skills

In [29]:
unique_soft_skills = job_skills_dataframe['Required Skills'].explode().unique()

unique_soft_skills_labels = np.array(unique_soft_skills)

unique_soft_skills

array(['Strong Communication Skill', 'Interpersonal Skills',
       'Presentation Skills', 'Creativity Skills',
       'Analytical Problem Solving', 'Detail Oriented Skills',
       'Logical thinking Skills', 'Innovative skills',
       'Leadership Skills', 'Mathematical Skills', 'Technical Skills',
       'Ingenuity Skills', 'Multitasking Skills',
       'Good Customer service Skills'], dtype=object)

In [40]:
option = int(input("Enter a Skill from above table through index value to get Skill Acquisition"))

if option >= len(unique_soft_skills_labels):
    print("Invalid Option")
else:
    selected_skill = unique_soft_skills_labels[option]

    filtered_dataframe = job_skills_dataframe[job_skills_dataframe['Required Skills'] == selected_skill]

    print(filtered_dataframe["Skill Acquisition"].iloc[0])

Persuasive Speaking Skills, Empathy, Adaptability, Ability to Use Positive Language, Clear Communication Skills, Self-Control, Taking Responsibility, Patience

## Job Risks

In [41]:
unique_companies = job_risks_dataframe['Company Name'].explode().unique()

unique_companies

array(['Amazon', 'Meesho', 'Meta', 'Wipro', 'Google', 'Cognizant',
       'Infosys', 'Byjus', 'Unacademy', 'Toothsi', 'Pharmeasy',
       'Healthifyme', 'Hirect', 'Ola', 'Blinkit', 'OYO', 'Livspace',
       'Share chat', 'Pocket aces', 'MPL '], dtype=object)

In [50]:
company = input("Enter company name :")

filtered_dataframe = job_risks_dataframe[job_risks_dataframe['Company Name'].str.lower() == company.lower()]

if len(filtered_dataframe) == 0:
    print("Company not found")
else:
    print("High Risk Jobs : ", filtered_dataframe["High Risk jobs"].iloc[0])
    print("Low Risk Jobs : ", filtered_dataframe["Low Risk jobs"].iloc[0])

High Risk Jobs :  Hardware and Services, Human Resources, Retail teams, Devices & Service, Lower-skilled Customer Service Roles
Low Risk Jobs :  Software Development Engineer (SDE), Data Scientist, Operations Manager, Customer Service Representative, Marketing Specialist, Cloud Architect/Engineer, Fulfillment Center Associate